.leftBlock {
  width: 230px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all .3s;
  overflow: hidden;
  z-index: 999;

}
.rightBlock {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 230px;
  transition: all .3s;
  overflow: hidden
}

.header {
  /*width: 100%;*/
  height: 65px;
  line-height: 65px;
  position: fixed;
  background: #fff;
  left: 230px;
  right: 0;
  transition: all .3s;
  z-index: 998;
  padding-left: 15px;
  box-shadow: 0px 0px 5px #ddd;
}
.title {
  font-size: 20px;
}
.avatar {
  font-size: 12px;
  margin-top: 10px;
}
.content {
  margin: 15px;
  margin-top: 80px;
}