.sidebar {
  background: #333;
  width: 100%;
  height: 100%;
}
.logo {
  height: 65px;
  line-height: 70px;
  background: #505050;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.sidebarBody {
  padding: 10px;
}

.linkItem {
  width: 100%;
  height: 100px;
  background: #666;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.linkItem:hover, .linkeItem:active, .linkeItem:visited {
  color: #fff;
  text-decoration: none;
}
.dashboard {
  font-size: 30px;
  line-height: 100px;
}

:global(.active) {
  background: #549ffd;
  text-decoration: none;
}