
html, body, :global(#root) {
  height: 100%;
  height: 100%;
  font-family: 'Microsoft JhengHei';
  background: #eee!important;
  font-size: 14px!important;
}


:global(.marginTopMd){
  margin-top: 10px !important;
}
:global(.marginTopLg) {
  margin-top: 25px !important;
}
:global(.marginLeftMd) {
  margin-left: 10px !important;
}
:global(.marginLeftLg) {
  margin-left: 25px !important;
}
:global(.marginBottomMd) {
  margin-bottom: 10px !important;
}
:global(.marginBottomLg) {
  margin-bottom: 25px !important;
}
:global(.marginRightMd) {
  margin-right: 10px !important;
}
:global(.marginRightLg) {
  margin-right: 25px !important;
}

:global(.clearfix()) {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
:global(.pullLeft) {
  float: left !important;
}
:global(.pullRight) {
  float: right !important;
}
:global(.btnPrimary) {
  line-height: 30px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 2px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  color: #fff;
  background-color: #dc6aac;
  border-color: #dc6aac;
}

:global(.backLightRed) {
  background: #ffd3d3;
  border: 1px solid #ffd3d3;
}
