.panel {
  position: absolute;
  background: #fff;
  z-index: 10;
  top: -405px;
  width: 850px;
  left: calc(50% - 425px);
  height: 380px;
  box-shadow: 0px 0px 15px #aaa;
  transition: all .3s;
  padding: 15px;
}

.active {
  top: -16px;
}